/* Logo */

.logo-sony {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    padding: .4rem;
}

/* My Button */

.my_button {
    border-radius: 1rem;
    margin-left: .5rem;
}

/* ICON */

.my_search {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
}