/* Variables */

:root {
    --blue: rgb(0, 106, 255);
}

body {
    font-size: 12px;
}
/* Logo */


.logo-sony {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    padding: .4rem;
}

/* My Button */

.my_button {
    border-radius: 1rem;
    
}

/* ICON */

.my_search {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Hero */

.hero-section {
    margin-top: 5rem;
}

.hero {

    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
    
}

.hero-row {
    height: 100%;
}

.hero-white-space {
    height: 35vh;
   
}

.thumb-col {
    border-radius: 10%;
}

.rounded-4 {
    border-radius: 1rem;
}

.img-focused {

    outline: 2px solid var(--blue);
    outline-offset: .2rem;
  

}

.text-color-blue {
    color: var(--blue);
}