/* Variables */

:root {
    --blue: rgb(0, 106, 255);
    --body-color: #555555;
    --bg-header: white;
    --bg-grey: #333333;
}

body {
    font-size: 14px;
    color: var(--body-color);
    overflow-x: hidden;
}

h1 {
    color: black;
}

h2 {
    color: black;
}
/* Logo */


.logo-sony {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    padding: .4rem;
}

/* My Button */

.my_button {
    border-radius: 1rem;
    
}

/* ICON */

.my_search {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Hero */

.hero-section {
    margin-top: 5rem;
}

.hero {

    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
    
}

.hero-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.hero-grey {
    background-color: #c1c1c1;
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-position-x: 85% ;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.hero-row {
    height: 100%;
}

.hero-white-space {
    height: 35vh;
   
}

.thumb-col {
    border-radius: 10%;
}

.rounded-4 {
    border-radius: 1rem;
}

.img-focused {

    outline: 2px solid var(--blue);
    outline-offset: .2rem;
  

}

.text-color-blue {
    color: var(--blue);
}



/* Backround Color */

.bg-header {
    background-color: var(--bg-header);
}

.bg-grey {
    background-color: var(--bg-grey);
}

/* Image */

.img-selected {
    border-bottom: 1px solid var(--blue);
}

.img-not-selected {
    filter: opacity(.7);
}

.img-max-height {
    max-height: 200px;
}

.img-max-height-100 {
    max-height: 100%;
}

.img-max-height-50 {
    max-height: 50px;
}

@media only screen and (max-width: 767px) {

    .hero-grey {
        background-image: none;
    }
    
}